!.gitignore
!.gitattributes
.idea/dataSources
.idea/sqldialects.xml
!.idea/.name
!.idea/jsLibraryMappings.xml
!.idea/modules.xml
!.idea/phpRuntime.xml
!.idea/php.xml
!.idea/vcs.xml
!.idea/misc.xml
!.idea/webResources.xml
.idea/dictionaries
.idea/workspace.xml
.idea/yii2settings.xml
.idea/dbnavigator.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/encodings.xml
node_modules/**
logs/*
!logs/.gitignore
config/server.development.js
config/server.integration.js
temp/**
coverage/
.nyc_output/
.nuxt/**