@font-face {
  font-family: 'Inter-Regular';
  src: url('../../static/fonts/Inter-Regular.woff') format('woff'),
  url('../../static/fonts/Inter-Regular-slnt=0.woff2') format('woff'),
  url('../../static/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('../../static/fonts/Inter-Medium.woff') format(' woff '), url('../../static/fonts/Inter-Medium-slnt=0.woff2') format('woff'),
  url('../../static/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('../../static/fonts/Inter-Bold.woff') format('woff'),
  url('../../static/fonts/Inter-Bold-slnt=0.woff2') format('woff'),
  url('../../static/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../../static/fonts/Inter-SemiBold.woff') format('woff'),
  url('../../static/fonts/Inter-SemiBold-slnt=0.woff2') format('woff'),
  url('../../static/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: 'Inter-Regular';
}

/* Theme style (colors & sizes) */
@import "theme-default";

/* Core Libs & Lib configs */
@import "libs/all";

/* Mixins */
@import "mixins";

/* Theme components */
@import "nav-bar";
@import "aside";
@import "title-bar";
@import "hero-bar";
@import "card";
@import "table";
@import "tiles";
@import "form";
@import "main-section";
@import "modal";
@import "footer";
@import "misc";
